@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');
body {font-family: 'Quattrocento Sans', sans-serif;}

body,
html {
    margin: 0;
}

#menu-bar{
    height:9vh;
    padding:1vh 0;
    text-align:center;
    font-size:2rem;
}
#logo img{
    height:7vh;
}
#main-content{
    height:75vh;
}
#map-column{
    text-align: center;
}
#main-map{
    min-width: 95%;
    height:65vh;
}
#date-slider{
    min-width: 90%;
    padding:0 !important;
    margin: 10px auto 0 auto;
}

#graphs-column .dash-graph {
    height: 30vh;
}

.dashboardContainer {
    border: 1px solid #bbb
}

.big-metric {
    flex-grow: 1;
    width:80%;
    text-align:center;
    padding:5px;
    margin: 0 20px 10px 20px;
    border:1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.big-metric-number {
    font-weight: 800;
    font-size: 6vh;
}

.big-metric-label {
    font-size: 2vh;
}