@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:wght@300;400;500&display=swap');
body {
    font-family: 'Quattrocento Sans', sans-serif;
}

body,
html {
    margin: 0;
}

#menu-bar {
    /* height:9vh;
    padding:1vh 0;
 */
    text-align: center;
    font-size: 2rem;
}

#logo img {
    height: 7vh;
}

#main-content {
    /* height: 75vh; */
}

#footer {
    height: 18vh;
    font-family: 'Fira Mono','Roboto Mono', sans-serif;
}

#map-column {
    text-align: center;
}

#main-map {
    min-width: 100%;
    height: 60vh;
}

#date-slider {
    min-width: 90%;
    padding: 0 !important;
    margin: 10px auto 0 auto;
}

#graphs-column .dash-graph {
    height: 25vh;
}

.dashboardContainer {
    border: 1px solid #bbb
}

.dashboardColumn {
    border: 1px solid #f00
}

.big-metric {
    flex-grow: 1;
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 0 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.big-metric-number {
    font-weight: 800;
    font-size: 6vh;
}

.big-metric-label {
    font-size: 2vh;
}


#footer > div{
    height: 18vh;
    overflow-y:hidden;
}

#notes{
    font-size: 0.7rem; 
    height: 18vh;
    
    overflow-y: hidden;  
}
#footer h4{ 
    font-size: 1rem; 
    margin: 0.5rem 0; 
}
#notes-list{
    text-align: left;
    overflow-y: scroll; 
    height: 13vh;
}

#license{
    height: 18vh;
    text-align:left;
    font-size: 0.7rem;
}